.university-header{
    min-height: 544px;
    &:after{
        content: "";
        background: url(../../assets/campus.png);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
    }
}
.university-header__content{
    color: white;
    margin-left: 104px;
    width: 890px;
}
.university-header__title{
    font-size: 64px;
    font-weight: bold;
    margin-top: 85px;
}
.university-header__text-title{
    font-size: 36px;
    font-weight: bold;
    margin-top: 14px;
    line-height: normal
}
.university-header__text{
    font-size: 16px;
    line-height: 23px;
    margin-top: 40px;
}