.accordeon-slide{
    display: flex;
    flex-direction: column;
    &__header{
      height: 40px;
      width: 100%;
      border: none;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    &__body{
      overflow: hidden;
      height: 0;
      width: 892px;
      border: none;
      transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 0;
      &_opened{
        height: 200px;
        opacity: 1;
      }
    }
  }

@media (max-width: 480px) {
    .accordeon-slide{
      &__body{
        width: 100%;
        &_opened{
          height: 100px;
        }
      }
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1176px){

}  