.info-header{
    display: flex;
    justify-content: center;
    width: 100%;
}
.info-header__wrapper{
    display: flex;
    align-items: center;
    width: 1500px;
}
.info-header__wrapper-logo{
    height: 59px;
    width: 160px;
    margin-right: 37px;
}
.info-header__wrapper-button{
    color: black;
    white-space: nowrap;
    margin-left: 64px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}
.info-header__wrapper-button-login{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid black;
    height:40px ;
    width: 127px;
    border-radius: 21px;
    margin-left: auto;
    cursor: pointer;
    text-decoration: none;
}
#responsive-icon{
    display: none;
}
@media screen and (max-width:1200px){
    
}
@media screen and (max-width:992px){
    
}
@media screen and (max-width:768px){
    .info-header-button-login{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border: 0;
        
        margin-left: auto;
        cursor: pointer;
        font-size: 0;
    }
    #responsive-icon{
        display: block;
    }
}