.info-header{
    display: flex;
    justify-content: center;
    width: 100%;
    &__wrapper{
        display: flex;
        align-items: center;
        width: calc(100% - 216px);
        margin-left: 108px;
        margin-right: 108px;
        &-logo{
            height: 56px;
            width: 144px;
            margin-right: 37px;
        }
        &-button{
            color: black;
            white-space: nowrap;
            margin-left: 64px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
            height: 100px;
            line-height: 110px;
            &:hover{
                font-weight: 600;
            }
        }
        &-button-login, &-button-register{
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            border: 1px solid black;
            height: 40px ;
            width: 127px;
            border-radius: 21px;
            cursor: pointer;
            text-decoration: none;
            &:hover{
                font-weight: 600;
                border: 2px solid black;
                background: #f1f1f1;
            }
        }
        &-button-login{
            margin-left: auto;
        }
        &-button-register{
            margin-left: 20px;
        }
        &-button-search{
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background-color: white;
            height:40px ;
            width: 127px;
            border: 1px solid black;
            margin-left: 60px;
            border-radius: 21px;
            cursor: pointer;
            text-decoration: none;
            &:hover{
                font-weight: 600;
                border: 2px solid black;
            }
        }
    }
}
.material-icons{
    &.info-login{
        display: none;
    }
}

@media (max-width: 480px) {
    .info-header{
        &__wrapper{
            width: calc(100% - 10px);
            margin-left: 5px;
            margin-right: 5px;
            justify-content: space-between;
            &-logo{
                margin-right: 0;
            }
            &-button-login{
                border: none;
                height: 100px;
                width: 24px;
                margin-left: 0;
                width: 40px;
                &:hover{
                    border:none;
                }
            }
            &-button{
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                margin-left: 0;
            }
        }
        &__links{
            display: none;
        }
        &__button-text{
            display: none;
        }
    }
    .material-icons{
        &.info-login{
            display: block;
        }
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1176px){

}
