.info-container{
    flex: 1 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    &__header{
        flex: 0 0 100px;
        display: flex;
        justify-content: flex-start;
        
    }
    &__content-form{
        flex: 1 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 113px;
    }
    &__title{
        margin-top: 41px;
        font-size: 64px;
        font-weight: bold;
    }
    &__text{
        margin-top: 92px;
        font-size: 20px;
        margin-bottom: 22px;
        font-weight: bold;
    }
    &__accordion{
        margin-top: 59px;
        width: 371px;
        margin-bottom: 137px;
        &-line{
            width: calc(100% - 113px);
            background: black;
            height: 2px;
            border-radius: 50px;
            margin-right: 113px;
            margin-top: 25px;
        }
    }
    &__list{
        line-height: 41px;
        font-size: 20px;
        list-style-type: disc;
        margin-left: 22px;
        margin-top: 52px;
        margin-right: 25px;
        &-text{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
.material-icons.accordion-icon{
    margin-top: 20px;
}

@media (max-width: 480px) {
    .info-container{
        &__content-form{
            margin-left: 5px;
        }
        &__title{
            font-size: 46px;
            margin-top: 5px;
            margin-left: 16px;
        }
        &__text{
            margin-top: 52px;
            font-size: 16px;
        }
        &__list{
            font-size: 16px;
            line-height: 25px;
            margin-right: 5px;
            margin-left: 16px;
        }
        &__accordion{
            width: 100%;
            &-line{
                width: calc(100% - 10px);
            }
        }
        &__footer{
            margin-top: -120px;
        }
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1176px){

}
