.container{
    flex: 1 0;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/campus.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    &__header{
        flex: 0 0 100px;
        display: flex;
        justify-content: flex-start;
    }
    &__content-form{
        flex: 1 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 480px) {
    .container{
        &__footer{
            
        }
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1176px){

}