.container{
    flex: 1 0;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/campus.png);
    min-height: 100vh;
    &__header{
        flex: 0 0 100px;
        display: flex;
        justify-content: flex-start;
        
    }
    &__content-form{
        flex: 1 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}