.footer{
    flex: 0 0 100px;
    background-color: #0b122a;
    padding: 40px;
    display: flex;
    justify-content: center;
    &-wrapper{
        display: flex;
        width: calc(100% - 216px);
        margin-left: 108px;
        margin-right: 108px;
        &__logo-container-image{
            height: 42px;
            width: 144px;
            margin-right: 72px;
            cursor: pointer;
        }
        &__links-container{
            display: flex;
            flex-direction: column;
            margin-right: auto;
            &-link{
                color: lightgray;
                line-height: 30px;
                cursor: pointer;
                white-space: nowrap;
            }
        }
        &__contact-info-container{
            display: flex;
            flex-direction: column;   
            color: lightgray;
            margin-left: 32px;
            &-title{
                font-weight: bold;
                
            }
            &-text{
                line-height: 50px;  
                white-space: nowrap;
            }
        }
    }
}
@media screen and (min-width:1080px){
    
}
@media screen and (min-width:768px){
    
}
