.main-header{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.main-header-wrapper{
    display: flex;
    align-items: center;
    width: 1233px;
    opacity: 0.6;
}
.main-header-logo{
    height: 42px;
    width: 144px;
    margin-right: 37px;
}
.main-header-button{
    color: lightgray;
    white-space: nowrap;
    margin-left: 64px;
    cursor: pointer;
    font-size: 16px;
}
.main-header-button-login{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2196F3;
    border: 1px solid #2196F3;
    height:40px ;
    width: 127px;
    border-radius: 21px;
    margin-left: auto;
    cursor: pointer;
    
}
#responsive-icon{
    display: none;
}
@media screen and (max-width:1200px){
    
}
@media screen and (max-width:992px){
    
}
@media screen and (max-width:768px){
    .main-header-button-login{
        display: flex;
        justify-content: center;
        align-items: center;
        color: lightgray;
        border: 0;
        
        margin-left: auto;
        cursor: pointer;
        font-size: 0;
    }
    #responsive-icon{
        display: block;
    }
}