@import '../variables.scss';
.main-header{
    display: flex;
    justify-content: center;
    width: 100%;
    &__wrapper{
        display: flex;
        align-items: center;
        width: calc(100% - 216px);
        opacity: 1;
        margin-left: 108px;
        margin-right: 108px;
        &-logo{
            height: 42px;
            width: 144px;
            margin-right: 37px;
        }
        &-button{
            color: lightgray;
            white-space: nowrap;
            margin-left: 64px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
            &-login, &-register{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                border: 1px solid white;
                height:40px ;
                width: 127px;
                border-radius: 21px;
                cursor: pointer;
                text-decoration: none;
                &:hover{
                    font-weight: 600;
                    border: 2px solid white;
                }
            }
            &-search{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: $lightblue;
                height:40px ;
                width: 127px;
                margin-left: 60px;
                border-radius: 21px;
                cursor: pointer;
                text-decoration: none;
                &:hover{
                    font-weight: 600;
                    border: 2px solid white;
                }
            }
            &-login{
                margin-left: auto;
            }
            &-register{
                margin-left: 20px;
            }
            &:hover{
                font-weight: 600;
                color: white;   
            }
        }
    }
    &__info-button{
        text-decoration: none;
        display: none;
        height: 100px;
        justify-content: center;
        align-items: center;
        width: 40px;
    }
        
}
.material-icons{
    &.search-icon{
        margin-right: 32px;
    }
    &.login-icon{
        display:none;
    }
    &.header__info-icon{
        color: lightgray;
    }
}

@media (max-width: 480px) {
    .main-header{
        &__wrapper{
            justify-content: space-between;
            width: calc(100% - 10px);
            margin-left: 5px;
            margin-right: 5px;
            &-logo{
                margin-right: 0;
            }
            &-button-login{
                border: none;
                height: 100px;
                width: 24px;
                margin-left: 0;
                width: 40px;
                &:hover{
                    border:none;
                }
            }
            &-button-register{
                display: none;
            }
            &-button{
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                margin-left: 0;
            }
        }
        &__links{
            display: none;
        }
        &__login-text{
            display:none;
        }
        &__info-button{
            display: flex;
        }
    }
    .material-icons{
        &.login-icon{
            display:block;
        }
        &.search-icon{
            margin-right: 0;
        }
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1176px){

}
