@import '../variables';
.login-form{
    height: 461px;
    width: 663px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-link{
        color: #008cff;
        cursor: pointer;
        font-size: 12px;
        &:first-child{
            margin-right: 31px;
        }
    }
    &-links{
        display: flex;
        justify-content: center;
        margin-top: 29px;
    }
}
.header{
    flex: 0 0 108px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3F2FD   ;
    
    font-size: 36px;
    font-weight: bold;
}
.login-button{
    width: 313px;
    height: 63px;   ;
    background-color: $lightblue;
    border-style: none;
    border-radius: 49px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    outline: none;
    &:hover{
        box-shadow: 0 3px 30px 0 #008cff;
        cursor: pointer;
    }
    &:active{
        transform: scale(0.95,0.95)
    }
}
.login-textfield{
    position: relative;
    margin-bottom: 92px;
    &:first-child{
        margin-right: 30px;
    }
}
input{
    font-size: 20px;
    
    display: block;
    width: 248px;
    border:none;
    border-bottom:1px solid #757575;
    &:focus     { outline:none; }
    &:focus ~ label {
        top: 35px;
        font-size: 14px;
        color: $lightblue;
    }
    &:focus {
        &~ .bar{
        &:before{width: 50%;}
        &:after{width: 50%;}
        }
    }
}
label{
    color: #999;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 0;
    transition: 0.2s ease all;
}
.bar{
    position:relative;
    display: block;
    width: 248px;
    &:before, &:after{
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background:#008cff;
        transition: 0.2s ease all;
    }
    &:before{
        left: 50%;
    }
    &:after{
        right: 50%;
    }
}

.highlight{
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
input:focus ~ .highlight {
    animation:inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
    from  { background: #008cff; }
    to    { width:0; background:transparent; }
  }
.textfields{
    display:flex;
    justify-content: center; 
}
.login-container{
    padding:42px;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.labelActive{
    top: 35px;
    font-size: 12px;
    color: #008cff;
}
@media screen and (max-width:1200px){
    
    
}
@media screen and (max-width:992px){
    .textfields{
        display: flex;
        flex-direction: column;
    }
    .login-textfield{
        margin-bottom: 50px;
    }
    .login-form{
        width: 443px;
    }
}
@media screen and (max-width:768px){
    .textfields{
        display: flex;
        flex-direction: column;
    }
    .login-textfield{
        margin-bottom: 30px;
    }
    .login-form{
        width: 343px;
    }
}