@import '../variables';
.registration-form{
    height: 663px;
    width: 763px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration-form__header{
    flex: 0 0 108px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3F2FD   ;
    font-size: 36px;
    font-weight: bold;
}
.registration-form__container{
    padding:42px;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration__textfield{
    position: relative;
    margin-bottom: 64px;
    &:first-child{
        margin-right: 30px;
    }
}
.registration-form__input{
    font-size: 20px;
    display: block;
    width: 248px;
    border:none;
    border-bottom:1px solid #757575;
    &:focus     { outline:none; }
    &:focus ~ .registration-form__input-label {
        top: 35px;
        font-size: 14px;
        color: $lightblue;
    }
    &:focus {
        &~ .registration-form__input-bar{
        &:before{width: 50%;}
        &:after{width: 50%;}
        }
    }
    &:focus ~ .registration-form__input-highlight {
        animation:inputHighlighter 0.3s ease;
    }
}
.registration-form__input-label{
    color: #999;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 0;
    border-style: none;
    transition: 0.2s ease all;
}
.registration-form__input-bar{
    position:relative;
    display: block;
    width: 248px;
    &:before, &:after{
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background:#008cff;
        transition: 0.2s ease all;
    }
    &:before{
        left: 50%;
    }
    &:after{
        right: 50%;
    }
}
.registration-form__input-highlight{
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
@keyframes inputHighlighter {
    from  { background: #008cff; }
    to    { width:0; background:transparent; }
}
.registration__textfields{
    flex-direction: column;
} 
.registration__textfields-layer{
    display:flex;
    justify-content: center; 
}   
.registration-form__input-fullname{
    font-size: 20px;
    display: block;
    width: 532px;
    border:none;
    border-bottom:1px solid #757575;
    &:focus     { outline:none; }
    &:focus ~ .registration-form__input-label {
        top: 35px;
        font-size: 14px;
        color: $lightblue;
    }
    &:focus {
        &~ .registration-form__input-bar{
        width: 532px;
        &:before{width: 50%;}
        &:after{width: 50%;}
        }
    }
    &:focus ~ .registration-form__input-highlight {
        animation:inputHighlighter 0.3s ease;
    }
}
.registration__textfield-fullname{
    position: relative;
    margin-bottom: 64px;
    &:first-child{
        margin-right: 0px;
    }
}
.registration-form__input-label_active{
    top: 35px;
    font-size: 12px;
    color: #008cff;
}
.registration__button{
        position: relative; 
        display: inline-block;
        box-sizing: border-box;
        border: none;
        border-radius: 49px;
        padding: 0 16px;
        width: 313px;
        height: 63px;
        vertical-align: middle;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: uppercase;
        color: white;
        background-color: $lightblue;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        font-size: 20px;
        font-weight: normal;
        line-height: normal;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        transition: box-shadow 0.2s;
        &:after{
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            padding: 50%;
            width: 32px; 
            height: 32px; 
            background-color: white;;
            opacity: 0;
            transform: translate(-50%, -50%) scale(1);
            transition: opacity 1s, transform 0.5s;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: white;
            opacity: 0;
            transition: opacity 0.2s;
        }
        &:hover, &:focus{
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        }
        &:hover:before{
            opacity: 0.08;
        }
        &:focus:before {
            opacity: 0.24;
        }
        &:hover:focus:before {
            opacity: 0.3;
        }
        &:active {
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        }
        &:active:after {
            opacity: 0.32;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0s;
        }
        &:disabled {
            color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
            background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
            box-shadow: none;
            cursor: initial;
        }
        &:disabled:before {
            opacity: 0;
        }
        &:disabled:after {
            opacity: 0;
        }
        &:-moz-focus-inner {
            border: none;
        }
}
.registration__textfields-select{
    width: 248px;
    position: relative;
    &:after{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0, 0, 0,0.12);
        pointer-events: none;
        }
}
.registration-form__select{
    position: relative;
	background-color: transparent;
    width: 248px;
    padding-top: 2px;
	font-size: 20px;
	border-radius: 0;
	border: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    &:focus{
        outline: none;
	    border-bottom: 1px solid rgba(0,0,0,0);
    }
}
.registration__textfields-select .registration-form__select {
	appearance: none;
	-webkit-appearance:none
}
.registration-form__select-label {
	color: #999;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 0;
    transition: 0.2s ease all;
}
.registration-form__select-label_active{
    top: 35px;
    font-size: 12px;
    color: #008cff;
    transition: 0.2s ease all;
}
.registration-form__select-bar {
	position: relative;
	display: block;
    width: 248px;
    &:before, &:after {
    content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #2F80ED;
	transition: 0.2s ease all;
    }
    &:before {
        left: 50%;
    }
    &:after {
        right: 50%;
    }
}
.registration-form__select:focus ~ .registration-form__select-bar:before, .registration-form__select:focus ~ .registration-form__select-bar:after {
	width: 50%;
}
.registration-form__select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
@keyframes selectHighlighter {
    from  { background: #008cff; }
    to    { width:0; background:transparent; }
}
.registration__checkbox{
    display: flex;
    justify-content: flex-start;
    min-height: 44px;
}
.registration-form__checkbox{
    position: absolute; 
    opacity: 0; 
        & + .registration-form__checkbox-label {
          position: relative;
          cursor: pointer;
          padding: 0;
        }
        & + .registration-form__checkbox-label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 12px;
          height: 12px;
          background: white;
          border-style: solid;
          border-width: 1px;
          border-color: #999;
        }
        &:hover + .registration-form__checkbox-label:before {
          background: white;
        }
        &:focus + .registration-form__checkbox-label:before {
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
        }
        &:checked + .registration-form__checkbox-label:before {
          background: white;
          
        }
        &:disabled + .registration-form__checkbox-label {
          color: #b8b8b8;
          cursor: auto;
        }
        &:disabled + .registration-form__checkbox-label:before {
          box-shadow: none;
          background: #ddd;
        }
        &:checked + .registration-form__checkbox-label:after {
          content: '';
          position: absolute;
          left: 2px;
          top: 6px;
          background: $lightblue;
          width: 2px;
          height: 2px;
          border-style: none;
          box-shadow: 
            2px 0 0 $lightblue,
            4px 0 0 $lightblue,
            4px -2px 0 $lightblue,
            4px -4px 0 $lightblue,
            4px -6px 0 $lightblue,
            4px -7px 0 $lightblue;
          transform: rotate(45deg);
        }
      }
.registration-form__checkbox-label{
    font-size: 12px;
}

@media (max-width: 480px) {
    .registration-form{
        width: 100%;
        &__container{
            padding: 0;
        }
        &__header{
            flex: 0 0 54px;
            font-size: 26px;
        }
        &__input{
            width: 300px;
            &-highlight{

            }
            &-bar{
                width: 300px;
            }
            &-label{
                font-size: 16px;
                &_active{
                    font-size: 12px;
                }
            }
            &-fullname{
                width: 300px;
                &:focus {
                    &~ .registration-form__input-bar{
                    width: 300px;
                    }
                }
            }
        }
        &__select{
            width: 300px;
            &-label{
                font-size: 16px;
                &_active{
                    font-size: 12px;
                }
            }
            &-bar{
                width: 300px;
            }
        }
        &__checkbox{   
            &-label{
                font-size: 11px;
            }
        }
    }
    .registration{
        &__textfields{
            margin-top: auto;
            &-select{
                width: 300px;
            }
            &-layer{
                flex-direction: column;
                align-items: center;
            }
        }
        &__button{
            width: 243px;
            height: 53px;
            font-size: 16px;
            &-container{
                margin-bottom: auto;
            }
        }
        &__textfield{
            &:first-child{
                margin-right: 0;
            }
            margin-bottom: 32px;
            &-fullname{
                margin-bottom: 32px;
            }
        }
        &__checkbox{
            margin-top: 32px;
        }
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1176px){

}