@import '../../variables';
.arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  .nextArrow {
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff;
    background-color: $lightblue;
    width: 57px;
    height: 57px;
  }
  .arrow__icon{
    font-size:58px;
  }