.text-slide{
    height: 532px;
    position: relative;
    opacity: 0.5;
    display: inline-block;
    
    &__content{
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 200px;
    }
    
    &_selected{
        opacity: 1;
    }
}


